@using DorllyService.Common;
@using DorllyService.Domain;
@model PageInfo<Garden>
@{ ViewBag.Title = "园区列表"; }

@section styles{
    <environment include="Development">
        <link href="~/Admin/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/Admin/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">@ViewBag.Title</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <a class="btn btn-success create">
                        <i class="fa fa-plus"></i>
                        添加园区
                    </a>
                    <a class="btn btn-info detail">
                        <i class="fa fa-info"></i>
                        详情
                    </a>
                    <a class="btn btn-primary edit">
                        <i class="fa fa-edit"></i>
                        编辑
                    </a>
                    <a class="btn btn-danger delete">
                        <i class="fa fa-trash-o"></i>
                        删除
                    </a>
                </div>
                <table class="table table-striped table-hover table-bordered" id="simpledatatable">
                    <thead>
                        <tr role="row">
                            <th>
                                <label>
                                    <input type="checkbox" class="group-checkable">
                                    <span class="text"></span>
                                </label>
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.data.FirstOrDefault().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.data.FirstOrDefault().Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.data.FirstOrDefault().State)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.data)
                        {
            <tr>
                <td>
                    <label>
                        <input type="checkbox" class="checkboxes" data-id="@item.Id" />
                        <span class="text"></span>
                    </label>
                </td>
                <td>@Html.DisplayFor(u => item.Name)</td>
                <td>@Html.DisplayFor(u => item.Address)</td>
                <td>@Html.DisplayFor(u => item.StateName)</td>
            </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>var Index = (function ($) {
            var config = {
                checkItemId: [],
            };

            var PageTable = (function () {
                return {
                    init: function () {
                        var oTable = $('#simpledatatable').dataTable({
                            //"oFeatures": {
                            //    "bFilter": true,
                            //    "bProcessing": true,
                            //},
                            "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                            "oTableTools": {
                                "aButtons": [
                                    //"copy", "csv", "xls","pdf",
                                    "print"
                                ],
                                "sSwfPath": "/admin/js/datatable/assets/swf/copy_csv_xls_pdf.swf"
                            },
                            "language": {
                                "search": "",
                                "sLengthMenu": "_MENU_",
                            },
                            "serverSide": true,
                            "ajax": {
                                "url": "/Admin/Garden/Search",
                                "type": "post",
                                "data": function (data) {
                                    data.pageIndex = (data.start / data.length) + 1;
                                    data.length = $('#simpledatatable_length select').val();
                                    console.log(data);
                                },
                                "dataSrc": function (pageInfo) {
                                    config.checkItemId = [];
                                    $('#simpledatatable_length select').val(pageInfo.length);
                                    return pageInfo.data;
                                }
                            },
                            "columns": [
                                { "defaultContent": "", "orderable": false, "bSearchable": false },
                                { "data": "name", "bSearchable": true },
                                { "data": "address", "bSearchable": true },
                                { "data": "stateName", "bSearchable": true },
                            ],
                            "columnDefs": [
                                {
                                    "targets": [0],
                                    "data": "id",
                                    "render": function (data, type, full) {
                                        return "<label><input type='checkbox' class='checkboxes' data-id='" + data + "' />" +
                                            "<span class='text'></span></label>";
                                    }
                                }
                            ],
                            "sPaginationType": "bootstrap",
                            "aaSorting": [[1, 'asc']],
                        });

                        $('#simpledatatable .group-checkable').change(function (e) {
                            var set = $(".checkboxes");
                            var checked = $(this).is(":checked");
                            $(set).each(function () {
                                trCheckAction(this, checked);
                            });
                        });
                        $('#simpledatatable').on('change', '.checkboxes', function () {
                            var checked = $(this).is(":checked");
                            trCheckAction(this, checked);
                        });
                        $('#simpledatatable tbody tr .checkboxes').change(function () {
                            var checked = $(this).is(":checked");
                            trCheckAction(this, checked);
                        });
                        function trCheckAction(obj, checked) {
                            var currentId = $(obj).data('id');
                            var isInArray = config.checkItemId.indexOf(currentId) != -1;
                            $(obj).prop("checked", checked);
                            if (checked) {
                                $(obj).parents('tr').addClass("active");
                                if (!isInArray)
                                    config.checkItemId.push(currentId);
                            } else {
                                $(obj).parents('tr').removeClass("active");
                                if (isInArray)
                                    config.checkItemId.splice(config.checkItemId.indexOf(currentId),1);
                            }
                        }
                    }
                };
            })();

            return {
                init: function (setting) {
                    if (!!setting) $.extend(config, setting);
                    $('.create').on('click', Index.Create);
                    $('.edit').on('click', Index.Edit);
                    $('.delete').on('click', Index.Delete);

                    PageTable.init();
                },
                Create: function () {
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/Garden/Create",
                        title: "添加园区",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#createform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Edit: function () {
                    if (config.checkItemId.length != 1) {
                        bootbox.alert("只能编辑单条记录，请(只)选择一条！");
                        return;
                    }
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/Garden/Edit/" + config.checkItemId[0],
                        title: "编辑园区",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#editform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Delete: function () {
                    if (config.checkItemId.length != 1) {
                        bootbox.alert("只能删除单条记录，请(只)选择一条！");
                        return;
                    }
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/Garden/Delete/" + config.checkItemId[0],
                        title: "删除园区",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "确认删除",
                                className: "btn-danger",
                                callback: function () {
                                    $('#deleteform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-default",
                            }
                        }
                    });
                }
            };

        })(jQuery);

        Index.init();</script>
}