@model List<DorllyService.Domain.ServiceSupplier>
@{
    ViewBag.Title = "服务商申请列表";
}

@section styles{
    <environment include="Development">
        <link href="~/Admin/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/Admin/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">@ViewBag.Title</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <a class="btn btn-success approve">
                        编辑
                    </a>
                    <a class="btn btn-success approve">
                        审核
                    </a>
                    <a class="btn btn-danger approve">
                        删除
                    </a>
                    <a class="btn btn-info approve">
                        查看
                    </a>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" href="javascript:void(0);">其他操作</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-default">
                            <li>
                                <a href="javascript:void(0);">空留位</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="simpledatatable">
                    <thead>
                        <tr role="row">
                            <th>
                                <div class="checker">
                                    <span class="">
                                        <input type="checkbox" class="group-checkable" />
                                    </span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().BelongGarden)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().ChargePerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().ServiceScope)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().ChargePerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().ContactPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().SupplierFrom)
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if(Model==null)
                        {
                            <tr>
                                <td colspan="10">暂无数据</td>
                            </tr>
                        }else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="checker">
                                            <span class="">
                                                <input type="checkbox" class="checkboxes checkItem" data-id="@item.Id" value="1" />
                                            </span>
                                        </div>
                                    </td>
                                    <td>@Html.DisplayFor(u => item.BelongGarden.Name)</td>
                                    <td>@Html.DisplayFor(u => item.FullName)</td>
                                    <td>@Html.DisplayFor(u => item.ChargePerson)</td>
                                    <td>@Html.DisplayFor(u => item.ServiceScope)</td>
                                    <td>@Html.DisplayFor(u => item.ChargePerson)</td>
                                    <td>@Html.DisplayFor(u => item.Email)</td>
                                    <td>@Html.DisplayFor(u => item.SupplierFrom)</td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-xs"><i class="fa fa-info"></i> 查看</a>
                                        <a data-id="@item.Id" class="btn btn-primary btn-xs edit"><i class="fa fa-edit"></i> 编辑</a>
                                        <a data-id="@item.Id" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> 删除</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
var Index = (function ($) {
            var config = {
                checkItemId: [],
            };

            return {
                init: function (setting) {
                    //拓展配置
                    if (!!setting) $.extend(config, setting);
                    //编辑
                    $('.edit').on('click', Index.Edit);
                    //删除
                    $('.delete').on('click', Index.Delete);
                    //点选行
                    $('.checkItem').on('check', function () {
                        var currentId = $(this).data('id');
                        if (config.checkItemId.indexOf(currentId) == -1)
                            config.checkItemId.push($(this).data('id'));
                    });
                },
                Edit: function () {
                    var id = $(this).data('id');
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/ServiceProvider/Edit/" + id,
                        title: "编辑用户",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#editform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Delete: function () {
                    var id = $(this).data('id');
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/ServiceProvider/Delete/" + id,
                        title: "删除用户",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "确认删除",
                                className: "btn-danger",
                                callback: function () {
                                    $('#deleteform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-default",
                            }
                        }
                    });
                }
            };

        })(jQuery);

        Index.init();</script>
}