@model List<DorllyService.Domain.ServiceSupplier>
@{
    ViewBag.Title = "服务商列表";
}

@section styles{
    <environment include="Development">
        <link href="~/Admin/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/Admin/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">@ViewBag.Title</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <a class="btn btn-success create">
                        添加
                    </a>
                    <a class="btn btn-success edit">
                        编辑
                    </a>
                    <a class="btn btn-success approve">
                        审核
                    </a>
                    <a class="btn btn-danger delete">
                        删除
                    </a>
                    <a class="btn btn-info scan">
                        查看
                    </a>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" href="javascript:void(0);">其他操作</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-default">
                            <li>
                                <a href="javascript:void(0);">空留位</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="simpledatatable">
                    <thead>
                        <tr role="row">
                            <th>
                                <label>
                                    <input type="checkbox" class="group-checkable">
                                    <span class="text"></span>
                                </label>
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().BelongGarden)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().ChargePerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().ServiceScope)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().ChargePerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().ContactPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().SupplierFrom)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model == null || Model.Count == 0)
                        {
                            <tr>
                                <td colspan="10">暂无数据</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="checkboxes checkItem" data-id="@item.Id" value="1" />
                                            <span class="text"></span>
                                        </label>
                                    </td>
                                    <td>@Html.DisplayFor(u => item.BelongGarden.Name)</td>
                                    <td>@Html.DisplayFor(u => item.FullName)</td>
                                    <td>@Html.DisplayFor(u => item.ChargePerson)</td>
                                    <td>@Html.DisplayFor(u => item.ServiceScope)</td>
                                    <td>@Html.DisplayFor(u => item.ChargePerson)</td>
                                    <td>@Html.DisplayFor(u => item.ContactPhone)</td>
                                    <td>@Html.DisplayFor(u => item.Email)</td>
                                    <td>@Html.DisplayFor(u => item.SupplierFrom)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>var Index = (function ($) {
            var config = {
                checkItemId: [],
            };

            return {
                init: function (setting) {
                    //拓展配置
                    if (!!setting) $.extend(config, setting);
                    //添加
                    $('.create').on('click', Index.Create);
                    //编辑
                    $('.edit').on('click', Index.Edit);
                    //删除
                    $('.delete').on('click', Index.Delete);
                    //点选行
                    $('td>label>.text').on('click', function () {
                        $(this).siblings('.checkItem').trigger('check');
                    });
                    $('.checkItem').on('check', function () {
                        var currentId = $(this).data('id');
                        var index = config.checkItemId.indexOf(currentId);
                        if ($(this).is(':checked')) {
                            if (index == -1)
                                config.checkItemId.push(currentId);
                        }
                        else {
                            if (index != -1)
                                config.checkItemId.splice(index, 1);
                        }
                    });
                },
                Create: function () {
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/ServiceProvider/Create",
                        title: "添加服务商",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#createform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Edit: function () {
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/ServiceProvider/Edit/" + config.checkItemId[0],
                        title: "编辑服务商",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#editform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Delete: function () {
                    if (config.checkItemId != 1) {

                    }
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/ServiceProvider/Delete/" + config.checkItemId[0],
                        title: "删除服务商",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "确认删除",
                                className: "btn-danger",
                                callback: function () {
                                    $('#deleteform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-default",
                            }
                        }
                    });
                }
            };

        })(jQuery);

        Index.init();</script>
}