@using DorllyService.Common;
@using DorllyService.Domain;
@model PageInfo<ServiceSupplier>
@{ ViewBag.Title = "服务商列表"; }

@section styles{
    <environment include="Development">
        <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">@ViewBag.Title</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <a class="btn btn-success create">
                        添加
                    </a>
                    <a class="btn btn-success edit">
                        编辑
                    </a>
                    <a class="btn btn-success approve">
                        审核
                    </a>
                    <a class="btn btn-danger delete">
                        删除
                    </a>
                    <a class="btn btn-info details">
                        查看
                    </a>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" href="javascript:void(0);">其他操作</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-default">
                            <li>
                                <a href="javascript:void(0);">空留位</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="simpledatatable">
                    <thead>
                        <tr role="row">
                            <th>
                                <label>
                                    <input type="checkbox" class="group-checkable">
                                    <span class="text"></span>
                                </label>
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.data.FirstOrDefault().BelongGarden)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.data.FirstOrDefault().FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.data.FirstOrDefault().ChargePerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.data.FirstOrDefault().ServiceScope)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.data.FirstOrDefault().ContactPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.data.FirstOrDefault().Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.data.FirstOrDefault().SupplierFrom)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.data == null || Model.data.Count == 0)
                        {
                            <tr>
                                <td colspan="8">暂无数据</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.data)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="checkboxes" data-id="@item.Id" value="1" />
                                            <span class="text"></span>
                                        </label>
                                    </td>
                                    <td>@Html.DisplayFor(u => item.BelongGarden.Name)</td>
                                    <td>@Html.DisplayFor(u => item.FullName)</td>
                                    <td>@Html.DisplayFor(u => item.ChargePerson)</td>
                                    <td>@Html.DisplayFor(u => item.ServiceScope)</td>
                                    <td>@Html.DisplayFor(u => item.ContactPhone)</td>
                                    <td>@Html.DisplayFor(u => item.Email)</td>
                                    <td>@Html.DisplayFor(u => item.SupplierFrom)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/js/datatable/jquery.dataTables.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script>
        var Index = (function ($) {
            var config = {
                checkItemId: [],
                oTable:null,
            };

            var PageTable = (function () {
                return {
                    Init: function () {
                        config.oTable = $('#simpledatatable').dataTable({
                            "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                            "oTableTools": {
                                "aButtons": [
                                    "print"
                                ],
                                "sSwfPath": "/admin/js/datatable/assets/swf/copy_csv_xls_pdf.swf"
                            },
                            "language": {
                                "search": "",
                                "sLengthMenu": "_MENU_",
                            },
                            "serverSide": true,
                            "ajax": {
                                "url": '@Url.Action("Search","ServiceProvider")',
                                "type": "post",
                                "data": function (data) {
                                    data.pageIndex = (data.start / data.length) + 1;
                                    data.length = $('#simpledatatable_length select').val();
                                },
                                "dataSrc": function (pageInfo) {
                                    $('#simpledatatable_length select').val(pageInfo.length);
                                    return pageInfo.data;
                                }
                            },
                            "columns": [
                                { "defaultContent": "", "orderable": false, "bSearchable": false },
                                { "data": "belongGarden.name", "bSearchable": true,  },
                                { "data": "fullName", "bSearchable": false, },
                                { "data": "chargePerson", "bSearchable": false, },
                                { "data": "serviceScope", "bSearchable": false, },
                                { "data": "contactPhone", "bSearchable": false },
                                { "data": "email", "bSearchable": false },
                                { "data": "supplierFrom", "bSearchable": false,},
                            ],
                            "columnDefs": [
                                {
                                    "targets": [0],
                                    "data": "id",
                                    "render": function (data, type, full) {
                                        return "<label><input type='checkbox' class='checkboxes' data-id='" + data + "' />" +
                                            "<span class='text'></span></label>";
                                    }
                                }
                            ],
                            "sPaginationType": "bootstrap",
                            "aaSorting": [[1, 'asc']],
                        });

                        $('#simpledatatable .group-checkable').change(function (e) {
                            var set = $(".checkboxes");
                            var checked = $(this).is(":checked");
                            $(set).each(function () {
                                trCheckAction(this, checked);
                            });
                        });
                        $('#simpledatatable').on('change', '.checkboxes', function () {
                            var checked = $(this).is(":checked");
                            trCheckAction(this, checked);
                        });
                        $('#simpledatatable tbody tr .checkboxes').change(function () {
                            var checked = $(this).is(":checked");
                            trCheckAction(this, checked);
                        });
                        function trCheckAction(obj, checked) {
                            var currentId = $(obj).data('id');
                            var isInArray = config.checkItemId.indexOf(currentId) != -1;
                            $(obj).prop("checked", checked);
                            if (checked) {
                                $(obj).parents('tr').addClass("active");
                                if (!isInArray)
                                    config.checkItemId.push(currentId);
                            } else {
                                $(obj).parents('tr').removeClass("active");
                                if (isInArray)
                                    config.checkItemId.splice(config.checkItemId.indexOf(currentId), 1);
                            }
                        }
                    },

                };
            })();

            return {
                Init: function (setting) {
                    //拓展配置
                    if (!!setting) $.extend(config, setting);
                    $('.create').on('click', Index.Create);
                    $('.edit').on('click', Index.Edit);
                    $('.approve').on('click', Index.Approve);
                    $('.delete').on('click', Index.Delete);
                    $('.details').on('click', Index.Details);
                    PageTable.Init();
                },
                Create: function () {
                    bootbox.dialog({
                        loadPage: true,
                        message: "@Url.Action("Create", "ServiceProvider")",
                        title: "添加服务商",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#createform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Edit: function () {
                    if (config.checkItemId.length != 1) {
                        bootbox.alert("只能编辑单条记录，请(只)选择一条！");
                        return;
                    }
                    bootbox.dialog({
                        loadPage: true,
                        message: "@Url.Action("Edit", "ServiceProvider")/" + config.checkItemId[0],
                        title: "编辑服务商",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#editform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Delete: function () {
                    if (config.checkItemId != 1) {
                        bootbox.alert("只能删除单条记录，请(只)选择一条！");
                        return;
                    }
                    bootbox.dialog({
                        loadPage: true,
                        message: "@Url.Action("Delete", "ServiceProvider")/" + config.checkItemId[0],
                        title: "删除服务商",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "确认删除",
                                className: "btn-danger",
                                callback: function () {
                                    $('#deleteform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-default",
                            }
                        }
                    });
                },
                Details: function () {
                    if (config.checkItemId != 1) {
                        bootbox.alert("只能查看单条记录，请(只)选择一条！");
                        return;
                    }
                    bootbox.dialog({
                        loadPage: true,
                        message: "@Url.Action("Details", "ServiceProvider")/" + config.checkItemId[0],
                        title: "服务商信息",
                        className: "modal-darkorange",
                        buttons: {
                            cancel: {
                                label: "关闭",
                                className: "btn-default",
                            }
                        }
                    });
                },
                Approve: function () {
                    if (config.checkItemId != 1) {
                        bootbox.alert("只能审核单条记录，请(只)选择一条！");
                        return;
                    }
                    bootbox.confirm("审核通过此供应商信息？", function (result) {
                        if (result) {
                            $.ajax({
                                url: "@Url.Action("Approve", "ServiceProvider")/"+ config.checkItemId[0],
                                success: function (msg) {
                                    if (msg.state) {
                                        bootbox.alert('审核成功！');
                                    }
                                }
                            });
                        }
                    });
                }
            };

        })(jQuery);

        Index.Init();</script>
}