@model List<DorllyService.Domain.Role>
@{
    ViewBag.Title = "角色列表";
}

@section styles{
    <environment include="Development">
        <link href="~/Admin/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/Admin/css/dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">@ViewBag.Title</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <a class="btn btn-success" onclick="Index.Create()">
                        添加角色
                    </a>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" href="javascript:void(0);">其他操作</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-default">
                            <li>
                                <a href="javascript:void(0);" onclick="Index.EditRolePermission(event)">编辑角色权限</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="Index.EditRoleUser(event)">管理角色用户</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="simpledatatable" @*id="editabledatatable"*@>
                    <thead>
                        <tr role="row">
                            <th>
                                <label>
                                    <input type="checkbox" class="group-checkable">
                                    <span class="text"></span>
                                </label>
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(p => p.FirstOrDefault().Description)
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model == null || !Model.Any())
                        {
                            <tr>
                                <td colspan="6">暂无数据</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="checkboxes checkItem" data-id="@item.Id" value="1" />
                                            <span class="text"></span>
                                        </label>
                                    </td>
                                    <td>@Html.DisplayFor(p => item.Code)</td>
                                    <td>@Html.DisplayFor(p => item.Name)</td>
                                    <td>@Html.DisplayFor(p => item.Status)</td>
                                    <td>@Html.DisplayFor(p => item.Description)</td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-xs"><i class="fa fa-info"></i> 查看</a>
                                        <a data-id="@item.Id" class="btn btn-primary btn-xs" onclick="Index.Edit(this)"><i class="fa fa-edit"></i> 编辑</a>
                                        <a data-id="@item.Id" class="btn btn-danger btn-xs" onclick="Index.Delete(this)"><i class="fa fa-trash-o"></i> 删除</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>var Index = (function ($) {
            var config = {
                checkItemId: [],
            };

            return {
                Init: function (setting) {
                    //拓展配置 
                    if (!!setting) $.extend(config, setting); 
                    //点选行
                    $('td>label>.text').on('click', function () {
                        $(this).siblings('.checkItem').trigger('check');
                    });
                    $('.checkItem').on('change', function () {
                        var currentId = $(this).data('id');
                        var index = config.checkItemId.indexOf(currentId);
                        if ($(this).is(':checked')) {
                            if (index == -1)
                                config.checkItemId.push(currentId);
                        }
                        else {
                            if (index != -1)
                                config.checkItemId.splice(index, 1);
                        }
                    });
                    //编辑角色权限
                    $('body').on('click', '.alterRolePermissionItem', function (e) {
                        e.preventDefault();
                        var $checkbox = $(this).siblings('input[type="checkbox"]');
                        var checkedFlag = $checkbox.prop('checked');
                        $checkbox.prop('checked', !checkedFlag);
                        $(this).toggleClass('blue')
                            .html(checkedFlag ? '<i class="fa fa-plus-square-o"></i> 添加' : '<i class="fa fa-trash-o"></i> 删除');
                    });
                },
                Create: function () {
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/Role/Create",
                        title: "添加角色",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#createform').submit();
                                }
                            },
                            cancel: {
                                label: "返回列表",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Edit: function (obj) {
                    var id = $(obj).data('id');
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/Role/Edit/" + id,
                        title: "编辑角色",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#editform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                Delete: function (obj) {
                    var id = $(obj).data('id');
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/Role/Delete/" + id,
                        title: "删除角色",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "确认删除",
                                className: "btn-danger",
                                callback: function () {
                                    $('#deleteform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-default",
                            }
                        }
                    });
                },
                EditRolePermission: function (e) {
                    e.preventDefault();
                    if (config.checkItemId.length != 1) {
                        bootbox.alert("只能编辑单条记录，请(只)选择一条！");
                        return;
                    }
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/Role/EditPermission/" + config.checkItemId[0],
                        title: "编辑角色权限",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#editform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                },
                EditRoleUser: function (e) {
                    e.preventDefault();
                    if (config.checkItemId.length != 1) {
                        bootbox.alert("只能编辑单条记录，请(只)选择一条！");
                        return;
                    }
                    bootbox.dialog({
                        loadPage: true,
                        message: "/Admin/Role/EditRoleUser/" + config.checkItemId[0],
                        title: "编辑角色权限",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "提交",
                                className: "btn-blue",
                                callback: function () {
                                    $('#editform').submit();
                                }
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-danger",
                            }
                        }
                    });
                }
            };

        })(jQuery);

        Index.Init();</script>
}